<div class="background">
    <div class="container">
      <div class="panel pricing-table">
       
        <div class="pricing-plan">
          <img src="./assets/images/iron.jpg" alt="" class="pricing-img">
          <h2 class="pricing-header">iron</h2>
          <br>
          <br>
          <span class="pricing-price">₹ 10</span>
          
        </div>
        
        <div class="pricing-plan">
          <img src="./assets/images/washing.jpg" alt="" class="pricing-img">
          <h2 class="pricing-header">Washing</h2>
          <br>
          <br>
          <span class="pricing-price">₹ 30</span>
          
        </div>
        
        <div class="pricing-plan">
          <img src="./assets/images/drycleaning.jpg" alt="" class="pricing-img">
          <h2 class="pricing-header">Drycleaning</h2>
          <br>
          <br>
          <span class="pricing-price">₹ 100</span>
         
        </div>
        
      </div>
    </div>
  </div>