<div class="container">
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Orderid</th>
                    <th scope="col">Order date</th>
                    <th scope="col">Service type</th>
                    <th scope="col">weight</th>
                    <th scope="col">Order status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">001</th>
                    <td>25<sup>th</sup> Jan 2020</td>
                    <td>Drycleaning</td>
                    <td>8Kg</td>
                    <td>ORDER_PLACED</td>
                    <td> <button class="btn btn-primary" onclick="fetchOrderDetails()" >View Order</button> </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>