<mat-toolbar color="primary" class="mat-elevation-z8">
    <div class="row">
        <div id="logo" class="col-6">
            <img src="./assets/images/Logo.png" height="90px" width="300px">
        </div>

        <div class="spacer"></div>

        <div id="options" class="col-6">
            <a mat-button *ngIf="showing" routerLink="login">Login</a>
            <a mat-button *ngIf="showing" routerLink="register">Register</a>
            <a mat-button *ngIf="!showing" routerLink="welcome/name">Home</a>
            <a mat-button *ngIf="!showing" (click)="Logout()" routerLink="logout">Logout</a>
            <a mat-button *ngIf="!showing" routerLink="about-us">About-Us</a>
            <a mat-button *ngIf="!showing" routerLink="feedback">Give-Feedback</a>
            <a mat-raised-button color="accent" *ngIf="!showing" routerLink="profile">Profile</a>
        </div>
    </div>

</mat-toolbar>

<!-- <div class="row">
        <div class="col-7">
            <img src="./assets/images/Logo.png" height="90px" width="300px" >
        </div>
        <div class="col-5">
            <button [routerLink]="['/login']" routerLinkActive="router-link-active"  class="btn btn-primary">Login</button>
            <button [routerLink]="['/register']" routerLinkActive="router-link-active"  class="btn btn-primary">Register</button>
            <button [routerLink]="['/welcome/name']" routerLinkActive="router-link-active"  class="btn btn-primary">Home</button>
            <button [routerLink]="['/profile']" routerLinkActive="router-link-active"  class="btn btn-primary">Profile</button>
            <button onclick=localStorage.clear(); [routerLink]="['/logout']" routerLinkActive="router-link-active" class="btn btn-primary">Logout</button>
        </div>
    </div> -->